# 2018년 3월 28일 점프투파이썬 2장
## 테스트
- 숫자형
    1. 기능1
    2. 기능2
- 문자열
- 리스트

1. 숫자형
2. 문자열

In [10]:
print("3번째 수업")

3번째 수업

# 1절 숫자형

In [7]:
123

123

In [11]:
456

456

In [12]:
1+2

3

In [13]:
7/4

1.75

In [14]:
-7/4

-1.75

In [15]:
7//4

1

In [16]:
7%4

3

In [17]:
1-0.9

0.09999999999999998

### lab 1
#### 수익 계산

In [47]:
revenue = 98456
cost = 45000
profit = revenue - cost
print(profit)

53456

# 2절 문자열

In [42]:
boy = "i am a boy"
boy

'i am a boy'

In [43]:
girl = "i am a girl"
girl

'i am a girl'

In [44]:
friend = """
i am a goy
i am a girl
"""

In [45]:
boy + ' ' + girl

'i am a boy i am a girl'

In [46]:
boy * 3

'i am a boyi am a boyi am a boy'

In [63]:
# 문자열 인덱싱
a = "life is too short, you have python"
a[0] + a[10] + a[30]

'lot'

In [64]:
# 문자열 슬라이싱 
a[12:17]

'short'

### lab 2
#### 문자열 다루기

In [65]:
a = "i love python"
b = ""

In [66]:
a = "20180328sunny"
year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]
print(year, month, day, weather)

2018 03 28 sunny

In [67]:
"year년 month월 day날 날씨는 weather 입니다"

'year년 month월 day날 날씨는 weather 입니다'

In [68]:
"(year)년 (month)월 (day)날 날씨는 (weather) 입니다." .format(year=year, month=month, day=day, weather=weather)

'(year)년 (month)월 (day)날 날씨는 (weather) 입니다.'

### 문자열 내장함수

In [73]:
# 문자 개수 세기
a = "나는 나다."
a.count('나')

2

In [77]:
# 위치 알려주기
a = "hobby"
a.find('b')

2

In [79]:
# 위치 알려주기2
a.index('b')

2

In [80]:
# 문자열 삽입하기
a = ", "
a.join("금은동")

'금, 은, 동'

In [83]:
#  대문자로
a = "i love python"
a.upper()

'I LOVE PYTHON'

In [84]:
# 소문자로
a.lower()

'i love python'

In [87]:
# 왼쪽 공백 지우기
a = " hi "
a.lstrip()

'hi '

In [86]:
a.rstrip()

' hi'

In [88]:
a.strip()

'hi'

In [91]:
# 문자열 나누기
a = "life is too short"
a.split()

['life', 'is', 'too', 'short']

## lab 2 이어서

In [99]:
a = "i love python"
b = "you have python"

In [103]:
a.index('o')

3

In [101]:
a.find('o')

3

In [102]:
a.count('o')

2

In [104]:
a.upper()

'I LOVE PYTHON'

In [105]:
b.lower()

'you have python'

In [106]:
a.split()

['i', 'love', 'python']

In [110]:
# 변수a_6에 a의 첫 7문자를 공간들로 이루어진 부분 문자열을 할당하시오
a_6 = a[0:7]
a_6

'i love '

In [113]:
a_6.rsplit()

['i', 'love']

### lab 3
#### 문자열 포매팅

In [81]:
pi = 3.141532
sq_root = 1.41429

In [82]:
"pi is {pi}, and square root of 2 is {sq_root}" .format(pi=pi, sq_root=sq_root)

'pi is 3.141532, and square root of 2 is 1.41429'

# 3절 리스트