# 점프투파이썬2장 이어서
## 3절 리스트

### 리스트만들기

In [1]:
#
a = []
a

[]

In [3]:
b = [1, 2, 3]
b

[1, 2, 3]

In [5]:
c = ["life", "is", "too", "short"]
c

['life', 'is', 'too', 'short']

In [6]:
d =[1, 2, "life", "is"]
d

[1, 2, 'life', 'is']

In [7]:
e = [1, 2, ["life", "is"]]
e

[1, 2, ['life', 'is']]

### 리스트의 인덱싱

In [8]:
[0, 5] # 공간 상 첫째부터 다섯번째까지

[0, 5]

In [10]:
a = [1, 2, 3]
a

[1, 2, 3]

In [11]:
a[1]

2

In [12]:
a[-1]

3

In [13]:
a[-3]

1

In [14]:
e

[1, 2, ['life', 'is']]

In [15]:
e[2][0]

'life'

### 리스트의 슬라이싱

In [4]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [5]:
a[0:2]

[1, 2]

In [6]:
a[:2]

[1, 2]

### 리스트의 연산자

In [8]:
a = [1, 2, 3, 4, 5]
b = [1, 2, 3]
print(a, b)

[1, 2, 3, 4, 5] [1, 2, 3]

In [9]:
c= a + b
c

[1, 2, 3, 4, 5, 1, 2, 3]

In [10]:
c * 2

[1, 2, 3, 4, 5, 1, 2, 3, 1, 2, 3, 4, 5, 1, 2, 3]

### 리스트의 수정 변경 삭제

In [14]:
# 하나의 값 수정하기
a = [1, 2, 3]

In [15]:
a[2] = 4
a

[1, 2, 4]

In [16]:
# 연속된 범위의 값 수정
a[2:3]

[4]

In [17]:
#구간
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 4]

In [42]:
#숫자-중첩됨
a[2] = ['a', 'b']
a

[1, 'a', ['a', 'b'], 'c', 4]

In [50]:
# 리스트 요소 삭제
a = [1, 2, 3]
del a[2]
a

[1, 2]

In [52]:
a = [1, 2, 3, 4]
del a[1:2]
a

[1, 3, 4]

### 리스트 함수

In [54]:
# 리스트에 요소를 하나 추가할 때

In [56]:
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [57]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [58]:
# 리스트 정렬
a = [1, 3, 2]
a.sort()
a

[1, 2, 3]

In [60]:
# 리스트 뒤집기
a = [1, 3, 4, 5, 2]
a.reverse()
a

[2, 5, 4, 3, 1]

In [63]:
# 위치 반환
a =[1, 2, 3]
a.index(3)
# 3의 위치는?

2

In [66]:
# 리스트의 요소 삽입
a = [1, 2, 3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [70]:
a.insert(3,5)
a

[4, 1, 2, 5, 5, 5, 3]

In [18]:
# 리스트 요소 제거
a = [1, 2, 3, 1 , 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [19]:
# 리스트 요소 꺼내기
a = [1, 2, 3]
a.pop()

3

In [73]:
a

[1, 2]

In [75]:
# 요소 개수 새기
a = [1, 2, 3, 1]
a.count(1)

2

In [12]:
# 리스트 확장 함수
a = [1, 2, 3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [77]:
a.append([4, 5])
a

[1, 2, 3, 4, 5, [4, 5]]

## 튜플

In [80]:
t1 = ()
t2 = {2,}
t3 = (1, 2, 3)
t4 = ('a', 'b')
print(t1, t2, t3, t4)

() {2} (1, 2, 3) ('a', 'b')

## 딕셔너리

In [85]:
dic = {'name':'안예지', 'phone':'1234'}
print(dic)

{'name': '안예지', 'phone': '1234'}

In [86]:
dic['name']

'안예지'

In [103]:
dic = {'name':'안예지', 'phone':'1234'}
dic.values()

dict_values(['안예지', '1234'])

## 불자료형

In [94]:
# T/F
3>1

True

In [95]:
3<1

False

In [13]:
if [1,3]:
     print("참")
else:
     print("거짓")

참

# 3장 제어문
## 1. if문

In [108]:
money = 1 # 돈이 있다
if money:
    print("택시 타자")
else:
    print("걸어가라")

택시 타자

In [ ]:
# 기본구조
if 조건문:
    수행문장1
    수행문장2
else:
    수행문장1
    수행문장2

In [109]:
money = 2000 # 내 수중에 있는 돈
if money >= 3000:
    print("택시타자")
else:
    print("걸어가자")

걸어가자

In [110]:
money = 2000
card = 1
if money >= 3000 or card:
    print("택시타자")
else:
    print("걸어가자")

택시타자

In [113]:
pocket = ['paper', 'handphone','card']
if 'money' in pocket:
    print("택시타자")
else:
    if card:
        print("택시타자")
    else:
        print("걸어가자")

택시타자

In [115]:
# elif 사용
pocket = ['paper', 'handphone','card']
if 'money' in pocket:
    print("택시")
elif 'card' in pocket:
    print("택시")
else:
    print("걸어가자")

택시

In [ ]:
# 구조
if <조건문>:
    수행문장
    수행문장
elif <조건문>:
    수행문장
else:
    수행문장

In [21]:
pocket = ['paper', 'handphone','card']
if 'money' in pocket or 'hhh' in pocket:
    print("택시타자")
else:
    print("걸어가자")

걸어가자